@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">

    <div class="sidebar">
    </div>

    <div class="content">
        <h1 class="title-home">Sistema de Suporte de TI</h1>
        <p class="litext">Controle e acompanhe seus chamados de suporte de forma simples, prática e eficiente.</p>
        @* <p>Saiba mais sobre <a href="https://learn.microsoft.com/aspnet/core">como desenvolver aplicativos Web com ASP.NET Core</a>.</p> *@
    </div>
</div>