@* @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<div class="logi-title">
    <h2>Login</h2>
</div>

<form action="Login" method="post">
   
    <div>
        <label for="username"></label>
        <input type="text" id="username" name="username" required>
    </div>
    
    <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Entrar</button>
</form>

