@* @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<div class="login-page">
<div class="login">
       

        <h2 class="login-title">Login</h2>

        <form class="form-login"  method="post">
            <div class="input-login">
                <label class="input-label" >Email:</label>
                <input type="email" class="login-field" name="Email" required />
            </div>
            <div class="input-login">
                <label class="input-label">Senha:</label>
                <input type="password" class="login-field" name="Senha" required />
            </div>
            <button class="btn-login" type="submit">Entrar</button>
        </form>

        @if (ViewBag.Mensagem != null)
        {
            <p style="color:red">@ViewBag.Mensagem</p>
        }

</div> 
</div>


